<a href="https://colab.research.google.com/github/ekagravarma/Python/blob/main/Python_essetials.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


Escape characters:

In [ ]:

#\n = Escape
#\t = tab 
print("C:\\narry")
print("C:my name is\nEKAGRA\tVARMA")

C:\narry
C:my name is
EKAGRA	VARMA

ADD 2 nos.

In [ ]:
n=int(input())
m=int(input())
print("the sum =",n+m)

1
2
the sum = 3

Dictionaries

In [ ]:
d1={}
d2={"RAM":"1","SHYAM":"2","LAXMAN":"3"}
print(d2)
print(d2["RAM"])
print(d2.keys())
print(d2.items())

{'RAM': '1', 'SHYAM': '2', 'LAXMAN': '3'}
1
dict_keys(['RAM', 'SHYAM', 'LAXMAN'])
dict_items([('RAM', '1'), ('SHYAM', '2'), ('LAXMAN', '3')])

Excercise --> create a dictionary(word,meaning) and search the meaning of the word enter by the user

In [ ]:
d={}

print("Enter Length =")
n=int(input())
for i in range(n):
  word=input()
  meaning=input()
  d[word]=meaning
print(d)
print("ENter word to search")
w1=input()
print("word's meaning =",d[w1])

Enter Length =
2
21
to
22
tt
{'21': 'to', '22': 'tt'}
ENter word to search
22
word's meaning = tt

Else-if ==> if age>18 --> eleigible to drive otherwise not

In [ ]:
def driveage():
  print("Enter No.")
  n=int(input())
  if n>18:
    print("Eligible")
  elif (n<18):
    print("Not Eligible")
  else:
    print("cant decide , come physically ")
  print("Continue?\tY or\tN")
  m=input()
if (m == 'Y' or m=='y'):
  driveage()

Enter No.
32
Eligible
Continue?	Y or	N
n

WAP to print all the nos. in a given range eg.(5,45) using **BREAK & CONTINUE**

In [ ]:
i=0
while(True):
  if(i<5):
    i=i+1
    continue
  print(i)
  i=i+1
  if(i>45):
    break

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45

take input until and uness user inputs no. greater than 100, and once its done print congo,u got 100

In [ ]:
n=int(input())
while(n<100):
  print("pls try again")
  n=int(input())
  continue
print("congo,got 100+")

99
pls try again
65
pls try again
90
pls try again
32
pls try again
-1
pls try again
0
pls try again
103
congo,got 100+

In [ ]:
while(True):
  print("Enter a no.")
  n=int(input())
  if n>100:
    print('got it 100+')
    break
  else:
    print("pls try again")
    continue

Enter a no.
67
pls try again
Enter a no.
43
pls try again
Enter a no.
1000
got it 100+

WAP to enter a no "n" and make the other user guess which no. has been inputed, if no is less or greater than let the user know what is the difference .
the no of max guess is 9.
prit no. of guesses. and gameover

In [ ]:
print("player 1:Enter the no.")
n = int (input())
c=0
while (c<6):
  print("player2: guess the no.")
  m=int(input())
  if(n>m):
    c=c+1
    print("u guessed a smaller no.")
    continue
  elif n<m: 
    c=c+1
    print ("u guessed a greater no.")
    continue
  elif n==m:
    print("gotcha,u got at",c,"steps")
    break
if(c==6):
  print("game-over")

player 1:Enter the no.
5
player2: guess the no.
3
u guessed a smaller no.
player2: guess the no.
6
u guessed a greater no.
player2: guess the no.
7
u guessed a greater no.
player2: guess the no.
8
u guessed a greater no.
player2: guess the no.
2
u guessed a smaller no.
player2: guess the no.
1
u guessed a smaller no.
game-over

OPERATORS-->

In [ ]:
# Operators In Pythons
# Arithmetic Operators
# Assignment Operators
# Comparison Operators
# Logical Operators
# Identity Operators
# Membership Operators
# Bitwise Operators

# Arithmetic Operators
# print("5 + 6 is ", 5+6)
# print("5 - 6 is ", 5-6)
# print("5 * 6 is ", 5*6)
# print("5 / 6 is ", 5/6)
# print("5 ** 3 is ", 5**3)
# print("5 % 5 is ", 5%5)
# print("15 // 6 is ", 15//6)

# Assignment Operators
# print("Assignment Operators")
# x = 5
# print(x)
# x %=7 # x = x%7
# print(x)

# Comparison Operators
i = 5


# Logical Operators
a = True
b = False

# Identity Operators
# print(5 is not 5)

# Membership Operators
list = [3, 3,2, 2,39, 33, 35,32]
# print(324 not in list)

# Bitwise Operators
# 0 - 00
# 1 - 01
# 2 - 10
# 3 - 11

print(0 & 2)
print(0 | 3)

short hand if else

In [ ]:
A= int(input())
B= int(input())
print("A is greater than B") if A>B else print("B is greater than A")

4
5
B is greater than A

functions

In [ ]:
def function1(a,b):
  """this is a funtion for sum of 2 variable""" # this is a Docstring 
  c=0
  c=a+b  
  return(c)
v=function1(5,7)
print(v)
print(function1.__doc__)

12
this is a funtion for sum of 2 variable

**READ A FILE and OTHER RELATED STUFFS **

In [ ]:

g= open("ekagra.txt","w")
g.write("ekagra varma is a good boy\nhe is a smart boy\n")
g.close()

##########################################################
f= open("ekagra.txt","r")
q=f.read() #read entire line
print(q)
w=f.readline() #readline by line
r=f.readlines() # read line as list 
f.close()
print(r)
print(w)

##########################################################
h=open("ekagra.txt","a")
h.write("this is the way to append\n")
h.close()
##########################################################
h=open("ekagra.txt","r")
print(h.read())
h.close()
##########################################################
f=open("ekagra.txt","a")
f.write("appended")
f.close()
##########################################################
f=open("ekagra.txt","r")
print(f.read())
f.close()

##########################################################
f=open("ekagra.txt",'r')
print(f.readline())
f.seek(27) # it takes the file pointer to that place ,(27) is char  
f.tell()  # it tells where the file pointer is 
print(f.readline())
f.close()


##########################################################
with open("ekagra.txt") as f: #it also opens the file
  a=f.readline()
  print(a)
f.close()

ekagra varma is a good boy
he is a smart boy

[]

ekagra varma is a good boy
he is a smart boy
this is the way to append

ekagra varma is a good boy
he is a smart boy
this is the way to append
appended
ekagra varma is a good boy

he is a smart boy

ekagra varma is a good boy

**TRY-EXCEPT EXCEPION**

In [ ]:
try:                      #pahle try karo j underlying situation hai , agar possible nh hua tb exception me jaana 
  n=int(input()) 
except Exception as e:    #exception me "E" caps hai 
  print(e)
print ("always print this line")

sec
invalid literal for int() with base 10: 'sec'
always print this line

In [ ]:
#wap To print  a pattern * ** *** ****  AND **** *** ** *

# print ("Enter no of rows")
# #n=int(input())
# n=4
# lst=[]
# #print("enter 0 or 1")
# #m=bool(input())
# #if (m== True):
# for i in range(0,n):
#   for j in range(0,i+1):
#     print("*",end = "")
#     j=0
#   print("\n")
print("\t\tWell come to Python Tutorial")
value1=int(input("How many Rows You want Print:"))
value2=int(input("Enter Pattern formet True=1 False=0:"))
if value2==True:
    for i in range(0,value1+1):
        print("*"*i)
else:
    for i in range(value1,0,-1):
        print("*"*i)

		Well come to Python Tutorial
How many Rows You want Print:4
Enter Pattern formet True=1 False=0:1

*
**
***
****

In [ ]:
n=4
i=0
j=0
for i in range(n+1):
  #print("1",i)
  for j in reversed(range(0,n)):
    #print("2",j)
    print("*",end="")
  print("\n")

****

****

****

****

****

***GLOBAL and LOCAL variables***

In [ ]:

        #global x  #for changing value of a global variable in a function , u need to declare a "global" keyword
    
x = 89
def harry():
    x = 20
    def rohan():
        global x
        x = 88
    # print("before calling rohan()", x)
    rohan()
    print("after calling rohan()", x)

harry()
print(x)

after calling rohan() 20
88

***Recursion***

In [ ]:
#factoial
print("enter no.")
n=int(input())
def fact(n):
  if n==0:
    return 1
  else:
    
    return(n*fact(n-1))
v=fact(n)
print(v)
  

#fibonacci no.
print()
a=0
b=1
c=a+b
def fib(n):
  if (n==0):
    return 1
  elif n==1:
    return 1
  else: return(fib(n-1)+fib(n-2))
v=fib(n)
print(v)

enter no.
5
120

8

***LAMBDA FUNCTION***

In [ ]:
#it is an anonymous function 
def sum1(a,b):
  s=a+b
  print(s)
sum1(4,3)

sum2 = lambda x,y:x+y
print(sum2(4,3))

####################################################

lst = [[1,4],[5,6],[8,2]]

sorty= lambda x:x[1]
lst.sort (key=sorty)
print(lst)

####################################################

7
7
[[8, 2], [1, 4], [5, 6]]


Modules:

In [ ]:
import random as rd
s={}
n=9
for i in range(n):

  ran= rd.randint(1,5)
  s[i]=ran
# for i in range(n):
print(s,end="")

{0: 2, 1: 5, 2: 1, 3: 1, 4: 1, 5: 1, 6: 2, 7: 4, 8: 4}

***String Formatting & f string ***

In [ ]:
a1="EKAGRA"
a2="VARMA"
########## f-string ########
min= f"this is {a1} {a2}"
print(min)
##STRING FORMATING############################################

min1= "m name is %s %s"%(a1,a2)
print(min1)

min2= "my name is {1} {0}"
min3=min2.format(a1,a2)
print(min3)

this is EKAGRA VARMA
m name is EKAGRA VARMA
my name is VARMA EKAGRA

**SNAKE-WATER-GUN**

In [ ]:
import random as rd
count=0
q="nothing"
w="snake won"
e="water won"
r= "Gun won"
t="you won"
y="computer won"

c1 = 0 
c2=0
c3=0
c4=0
c5=0
c6=0
while(count <10):
  lst=["S","G","W"]
  print ("Enter your %s choice S/W/G"%(count+1))
  inp=input()
  ele = rd.choice(lst)
  if (inp == 'S'):
    count=count+1
    if (ele == 'S'):
      print(q)
      c1=c1+1
      #c6=c6+1#comp won 
      #print(y)
    elif (ele == 'G'):
      print(r)
      c2=c2+1
      c6=c6+1
      print(y)
    elif (ele == 'W'):
      print(w)
      c3=c3+1
      c5=c5+1 #input won
      print(t) 
  if (inp == 'W'):
    count=count+1
    if (ele == 'S'):
      print(w)
      c3=c3+1
      c6=c6+1
      print(y)
    elif (ele == 'G'):
      print(e)
      c4=c4+1
      c5=c5+1 #input won
      print(t)
    elif (ele == 'W'):
      print(q)
      c1=c1+1
      #c6=c6+1
      #print(y)
  if (inp == 'G'):
    count=count+1
    if (ele == 'S'):
      print(r)
      c2=c2+1
      c5=c5+1
      print(t)
    elif (ele == 'G'):
      print(q)
      c1=c1+1
      #c6=c6+1
      #print(y)
    elif (ele == 'W'):
      print(e)
      c4=c4+1
      c6=c6+1
      print(y)
if (c5>c6):
  print("Final result :you won")
else:
  print("Final result :computer won")
#c1=0,c2=0,c3=0,c4=0,c5=0,c6=0

**!! args and kwargs !!**

In [ ]:
# normal arguments ko pahle , phir args , phir kwargs 
# args is used for list ,kwargs is used for dicionary
def func(*args):
  for i in range(len(args)):
    print (f"the value of {i+1} is {args[i]}")
    print(args)
  print(len(args))
  
args=[]
for i in range(10):
  args.append(i)
func(args)

the value of 1 is [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
([0, 1, 2, 3, 4, 5, 6, 7, 8, 9],)
1

**TIME MODULE**

In [ ]:
import time 
initial = time.time() #pahle declare kro time phir baad me (loop ke baad ) jo bhi time aaya hai usse minus krdo 
i=0
while(i<20):
   print("My name is Ekagra Varma")
   i=i+1
print("the time for while loop is ",(time.time()-initial))
 
 ####################################

initial2=time.time()
for i in range(20):
  print("My name is \t")
  time.sleep(2)
print(f"{time.time()-initial2}")

################### Exact time ##########

print(time.asctime(time.localtime(time.time())))

My name is Ekagra Varma
My name is Ekagra Varma
My name is Ekagra Varma
My name is Ekagra Varma
My name is Ekagra Varma
My name is Ekagra Varma
My name is Ekagra Varma
My name is Ekagra Varma
My name is Ekagra Varma
My name is Ekagra Varma
My name is Ekagra Varma
My name is Ekagra Varma
My name is Ekagra Varma
My name is Ekagra Varma
My name is Ekagra Varma
My name is Ekagra Varma
My name is Ekagra Varma
My name is Ekagra Varma
My name is Ekagra Varma
My name is Ekagra Varma
the time for while loop is  0.005493640899658203
My name is
My name is
My name is
My name is
My name is
My name is
My name is
My name is
My name is
My name is
My name is
My name is
My name is
My name is
My name is
My name is
My name is
My name is
My name is
My name is
40.03982639312744
Thu Mar 17 16:43:49 2022